= form_for [@album, @track], html: { class: "form-inline" } do |f|
  = render "layouts/errors", resource: @track
  .form-group
    = f.label :name, class: "sr-only"
    = f.text_field :name, class: "form-control input-sm", placeholder: "name"
  .form-group
    = f.label :duration, class: "sr-only"
    = f.text_field :duration, class: "form-control input-sm", placeholder: "duration (seconds)"
  .form-group.actions
    = f.submit "Add", class: "btn btn-sm btn-primary"
