= form_for @artist, html: { multipart: true } do |f|
  = render "layouts/errors", resource: @artist
  %h1
    = image_tag @artist.picture.url(:extra_large), alt: "#{@artist.name}", title: "#{@artist.name}", class: "img-circle pull-center img-artist-picture"
  .form-group
    .row
      .col-xs-6
        = f.label :picture
        = f.file_field :picture
        %p.help-block
          Add a picture of the artist
      = "- or -"
      .col.xs-6
        %p.pull-right
          = link_to lastfm_artist_picture_artist_url, class: "btn btn-sm btn-primary", remote: true do
            %i.glyphicon.glyphicon-search
            Search online
  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
  .form-group
    = f.label :about
    = f.text_area :about, class: "form-control", rows: 4, placeholder: "Some info about the artist"
  .actions
    = f.submit 'Save', class: "btn btn-primary"
    = link_to 'Back', artists_path, class: "btn btn-default pull-right"
