= form_for @artist do |f|
  = render "layouts/errors", resource: @artist
  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
  .form-group
    = f.label :about
    = f.text_area :about, class: "form-control", rows: 4, placeholder: "Some info about the artist"
  .actions
    = f.submit 'Save', class: "btn btn-primary"
    = link_to 'Back', artists_path, class: "btn btn-default pull-right"
