.row
  .col-sm-3
    %h1
      = image_tag @artist.picture.url(:extra_large), alt: "#{@artist.name}", title: "#{@artist.name}", class: "img-circle"
  .col-sm-9.col-md-5
    %h2= @artist.name
    %p= @artist.about
  .col-sm-12.col-md-4
    %h3 Similar Artists
    - if @similar_artists
      %ul.list-unstyled.list-similar-artists
        - @similar_artists.first(@limit_artists).each do |artist|
          %li{ title: "#{artist['name']}", class: "tooltips", data: { toggle: "tooltip" } }
            = image_tag artist["picture_url"], class: "img-circle img-small"
            %span
              = artist["name"].truncate(30)
      - if !params[:similar_artists] && @similar_artists.length > 5
        = link_to "More similar artitsts", artist_path + "?similar_artists=all"
    - if @similar_artists.blank?
      %p No similar artists found
.row
  .col-sm-12
    .actions
      = link_to 'Back', artists_path, class: "btn btn-default pull-right"
      - if user_signed_in?
        = link_to 'Edit', edit_artist_path, class: "btn btn-primary"
