.row
  .col-sm-4
    %h1
      = image_tag @artist.picture.url(:extra_large), alt: "#{@artist.name}", title: "#{@artist.name}"
  .col-sm-8
    %h2= @artist.name
    %p= @artist.about
%h3 Similar Artists
= link_to 'Back', artists_path, class: "btn btn-default pull-right"
