.container
  .row
    .col-sm-12
      = devise_error_messages!
  .row
    .col-sm-6.col-sm-offset-3
      %h2 Forgot your password?
      = form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: "form" } do |f|
        .form-group
          = f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email"
        .form-group
          = f.submit "Send me reset password instructions", class: "btn btn-primary"
        .form-group
          = render "devise/shared/links"
