.row
  .col-sm-4
    %h1
      = image_tag @album.cover.url(:mega), alt: "#{@album.title}", title: "#{@album.title}", class: "img-rounded"
  .col-sm-8.col-md-3
    %h2= @album.title
    %p= @album.description
  .col-sm-12.col-md-5
    %h3 Tracks
    = render partial: "tracks/index", locals: { album: @album }
.row
  .col-sm-12
    .actions
      = link_to 'Back', albums_path, class: "btn btn-default pull-right"
      - if user_signed_in?
        = link_to 'Edit', edit_album_path, class: "btn btn-primary"
