%h1 Latest Albums
%table.table.table-hover
  %tbody
    - @albums.each do |album|
      %tr
        %td
          = link_to album do
            = image_tag album.cover(:small), class: "img-rounded"
            %strong= album.title
            = album_artists(album)
            = album.description.truncate(30)
.pull-center
  = paginate @albums
