.navbar-header
  %button.navbar-toggle{ type: "button", data: { toggle: "collapse", target: ".navbar-collapse" } }
    %span.sr-only
      Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  = link_to "Player1", root_path, class: "navbar-brand"
.navbar-collapse.collapse
  %ul.nav.navbar-nav
    - if user_signed_in?
      %li{ class: "#{active_class(artists_path)}" }
        = link_to "Artists", artists_path
      %li{ class: "#{active_class(albums_path)}" }
        = link_to "Albums", albums_path
  %ul.nav.navbar-nav.navbar-right
    - if user_signed_in?
      %li{ class: "#{active_class(edit_user_registration_path)}" }
        = link_to "Account", edit_user_registration_path
      %li
        = link_to "Sign out", destroy_user_session_path, method: :delete
    - else
      %li{ class: "#{active_class(new_user_registration_path)}" }
        = link_to "Register", new_user_registration_path
      %li{ class: "#{active_class(new_user_session_path)}" }
        = link_to "Sign in", new_user_session_path
